{% extends "base.html" %}
{% block content %}
    <h2>I am extending base</h2>
    <!-- We'll use the Jinja templating language to loop through each task item from within our
    collection. The iteration on this for-loop uses this new variable we created called 'task', and then
    we'll use dot-notation to target each field. The first key we'll print is the task_name, and I'm just
    going to add a simple line-break to clearly differentiate each value. -->
    {% for task in tasks %}
        {{ task.task_name }} <br>
        {{ task.category_name }} <br>
        {{ task.task_description }} <br>
        {{ task.is_urgent }} <br>
        {{ task.due_date }} <br>
    {% endfor %}

{% endblock %}